@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --number-size: 50px;
}

html {
    padding: 0;
    margin: 0;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    color: #f9fafa;
    overflow-x: hidden;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

* {
    box-sizing: border-box !important;
}

.green {
    background-color: #57f287;
}

.red,
.primary {
    background-color: #5a77fe !important;
}

.black {
    background-color: #393939;
}

.disabled {
    background-color: #393939CC;
}

.xs {
    background-color: #484848;
}

.s {
    background-color: #ff6e6e;
}

.sm {
    background-color: #ffc869;
}

.m {
    background-color: #a558ff;
}

.l {
    background-color: #ff599a;
}

.xl {
    background-color: #63ff97;
}

#balanceChart {
    border: 1px solid rgb(39 40 40 / 1);
    background-color: #1c1c1c;
    border-radius: 8px;
    height: 516px !important;
    padding: 16px
}


.game-container {
    height: 576px;

    .game-wrapper {
        height: 100%;
        display: flex;
        gap: 16px;

        .bet-container,
        .auto-game-container {
            height: 100%;
            width: 30%;
            border: 1px solid rgb(39 40 40 / 1);
            background-color: #1c1c1c;
            border-radius: 8px;

            .bet-wrapper,
            .auto-game-wrapper {
                display: flex;
                flex-direction: column;
                gap: 16px;
                justify-content: space-between;
                height: 100%;
                width: 100%;
                padding: 32px;

                .history-container,
                .balance-container,
                .betting-container,
                .actions-container,
                .strategies-container,
                .strategie-form-container,
                .strategies-play-container {
                    width: 100%;

                    .history-wrapper,
                    .balance-wrapper,
                    .betting-wrapper,
                    .actions-wrapper,
                    .strategies-wrapper,
                    .strategie-form-wrapper,
                    .strategies-play-wrapper {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        .title-history,
                        .title-balance,
                        .title-betting,
                        .title-actions,
                        .title-strategies,
                        .title {
                            font-size: 18px;
                            font-weight: 600;
                            color: #8d8d8d;
                        }

                        .group-history {
                            display: flex;
                            flex-direction: row-reverse;
                            justify-content: flex-end;
                            gap: 8px;
                            min-height: var(--number-size);

                            .history-item {
                                height: var(--number-size);
                                width: var(--number-size);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 4px;
                                color: #f9fafa;
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }

                        .group-betting {
                            display: flex;
                            justify-content: space-between;
                            gap: 8px;

                            .betting-item {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: calc(var(--number-size) * .75);
                                width: calc(var(--number-size) * .75);
                                font-size: 12px;
                                font-weight: 700;
                                color: #1c1c1c;
                                border-radius: 50%;
                                cursor: pointer;
                                user-select: none;

                                &.active {
                                    border: 1px solid #f9fafa;
                                }
                            }
                        }

                        .group-balance {
                            display: flex;
                            gap: 8px;

                            .action-item {
                                flex: 1;
                                height: var(--number-size);
                                min-width: var(--number-size);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 4px;
                                cursor: pointer;
                                user-select: none;
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }

                        .group-balance .value-balance,
                        .betting-amount {
                            width: 100%;
                            padding: 0 16px;
                            height: var(--number-size);
                            display: flex;
                            align-items: center;
                            background-color: #222;
                            border-radius: 4px;
                            user-select: none;
                        }

                        .group-actions,
                        .group-strategies,
                        .group-colors {
                            display: flex;
                            justify-content: space-between;
                            gap: 8px;

                            .action-item,
                            .strategie-item,
                            .item-color-strategie {
                                flex: 1;
                                height: var(--number-size);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 4px;
                                cursor: pointer;
                                user-select: none;
                                font-size: 14px;
                                font-weight: 600;

                                &.red {
                                    color: #5a77fe;
                                }

                                &.black {
                                    color: #393939;
                                }

                                &.active {
                                    border: 1px solid #f9fafa;
                                }
                            }
                        }

                        input {
                            width: 100%;
                            padding: 0 16px;
                            height: var(--number-size);
                            display: flex;
                            align-items: center;
                            background-color: #222;
                            color: #f9fafa;
                            border-radius: 4px;
                            user-select: none; 
                            border: none;
                            
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                }
            }
        }

        .roulette-container {
            height: 100%;
            width: 70%;

            .roulette-wrapper {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;

                &>* {
                    flex: 1;
                    width: 100%;
                }

                .wheel-container {
                    .wheel-wrapper {
                        height: 100%;
                        z-index: 0;
                        position: relative;

                        .wheel-object {
                            top: 66px;
                            left: calc(50% - 200px);
                            transition: .3s ease-in-out 0s all;
                            transform-origin: center center !important;
                            rotate: 0deg;
                            position: absolute;
                        }

                        .picker {
                            top: 55%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            position: absolute;
                            height: 80px;
                            width: 3px;
                            background: linear-gradient(0deg, #1a1a1a 50%, #f9fafa);
                        }
                    }
                }

                .grid-container {
                    z-index: 1;
                    border: 1px solid rgb(39 40 40 / 1);
                    background-color: #1c1c1c;
                    border-radius: 8px;

                    .grid-wrapper {
                        height: 100%;
                        width: 100%;
                        padding: 32px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .numbers-wrapper {
                            height: calc(var(--number-size) * 3);
                            display: flex;

                            >* {
                                height: 100%;
                            }

                            .group-numbers {
                                display: grid;
                                grid-template-columns: repeat(12, 1fr);
                            }

                            .item-bet-wrapper {
                                width: var(--number-size);
                                padding: 3px;

                                .item-bet-number {
                                    height: 100%;
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 4px;
                                    cursor: pointer;
                                    user-select: none;
                                    font-size: 14px;
                                    font-weight: 600;
                                    position: relative;

                                    .bet-chip-item {
                                        position: absolute;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-size: 12px;
                                        font-weight: 700;
                                        color: #1c1c1c;
                                        width: 30px;
                                        height: 30px;
                                        border-radius: 50%;
                                        bottom: 0;
                                        left: 0;
                                    }

                                    &.active {
                                        align-items: flex-start;
                                        justify-content: flex-end;
                                        position: relative;
                                    }
                                }
                            }
                        }

                        .colors-wrapper {
                            width: calc(var(--number-size) * 13);
                            display: flex;

                            .item-bet-wrapper {
                                flex: 1;
                                height: var(--number-size);
                                padding: 3px;

                                .item-bet-color {
                                    height: 100%;
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    border-radius: 4px;
                                    cursor: pointer;
                                    user-select: none;
                                    font-size: 14px;
                                    font-weight: 600;

                                    .bet-chip-item {
                                        position: absolute;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        font-size: 12px;
                                        font-weight: 700;
                                        color: #1c1c1c;
                                        width: 30px;
                                        height: 30px;
                                        border-radius: 50%;
                                    }

                                    &.black {
                                        color: #393939
                                    }

                                    &.red {
                                        color: #5a77fe
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}